SERVER_PORT=5000
NODE_ENV=development

DB_NAME=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_SSL=
DB_DIALECT=postgres
DB_LOGGING=
 
JWT_SECRET=
DATA_ENCRYPTION_KEY=

SES_ACCESS_KEY_ID=
SES_SECRET_ACCESS_KEY=
SES_EMAIL=
SES_REGION=

S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_REGION=

IS_LOCAL=
SES_ENDPOINT=
S3_ENDPOINT=


OPENAI_API_KEY=
